@{ ViewData["Title"] = "About"; }

<div class="row">
    <div class="col-lg-12">
        <h1>About</h1>
        <p>Located in Water Valley, MS, Base Camp Coding Academy (BCCA) is a hands-on, challenging and fun program, designed
            to train students to be software developers in 12 months.</p>
        <p>In a small classroom setting, you will work with real world technologies to learn the fundamentals of coding, app
            development and the life leadership skills you will need to be successful in your career and competitive in the
            job market.</p>
        <h2>What does it take to attend Base Camp Coding Academy?</h2>
        <h4>Step 1: Nomination</h4>
        <p>Any Mississippi student in their senior year may be nominated to Base Camp by a teaching professional. Once a student
            is nominated they will be invited to complete an application. Nominate a student today: <a href="http://goo.gl/forms/MCLxyI4i1r"
                target="_blank">click here</a></p>
        <h4>Step 2: Demonstrate a Strong Heart and Mind</h4>
        <p>Becoming a fantastic software developer takes hard work and dedication.</p>
        <h4>Step 3: Show Up, and Work Hard</h4>
        <p>Each class of 15 to 20 students will work together every weekday for 12 months to master this skill set.</p>
        <h4>Step 4: Graduate, and Land a Great Job</h4>
        <p>Base Camp is successful when our students are successful in their careers.</p>
        <h4>Step 5: Be Fantastic</h4>
        <p>Every graduate carries the reputation of Base Camp with them into the workforce. We expect you to represent!</p>
        <h2>What don’t you need to attend Base Camp Coding Academy?</h2>
        <h4>Money.</h4>
        <p>Every student accepted into Base Camp Coding Academy receives a 100% scholarship.</p>
        <p>Thanks to the generous support of Mississippi’s business and philanthropic leaders, Base Camp Coding Academy is a
            not for profit 501(c)(3) program.</p>
    </div>
</div>