@{ ViewData["Title"] = "Contact"; }

<div class="row">
    <div class="col-lg-12">
        <h1>Board of Directors</h1>
        <address>
            Glen Evans :: co-founder<br />
            <a href="mailto:glen@basecampcodingacademy.org">glen@basecampcodingacademy.org</a>
        </address>
        <address>
            Kagan Coughlin :: co-founder<br />
            <a href="mailto:kagan@basecampcodingacademy.org">kagan@basecampcodingacademy.org</a>
        </address>
        <address>
            Bethany Cooper :: founding trustee<br />
            <a href="mailto:bethany@basecampcodingacademy.org">bethany@basecampcodingacademy.org</a>
        </address>
        <address>
            Sage Nichols :: founding trustee<br />
            <a href="mailto:sage@basecampcodingacademy.org">sage@basecampcodingacademy.org</a>
        </address>
        <address>
            John Marsalis :: founding trustee<br />
            <a href="mailto:john@basecampcodingacademy.org">john@basecampcodingacademy.org</a>
        </address>
        <address>
            Carla Lewis :: trustee<br />
            <a href="mailto:carla@basecampcodingacademy.org">carla@basecampcodingacademy.org</a>
        </address>
        <h1>Staff</h1>
        <address>
            Sean Anthony :: executive director<br />
            <a href="mailto:sean@basecampcodingacademy.org">sean@basecampcodingacademy.org</a>
        </address>
        <address>
            Nate Clark :: technical director<br />
            <a href="mailto:nate@basecampcodingacademy.org">nate@basecampcodingacademy.org</a>
        </address>
    </div>
</div>