@{ ViewData["Title"] = "Curriculum details"; }


<h1>Curriculum Details</h1>

<h5><a href="#fundamentals" title="Language Basics and Application Fundamentals">Language Basics and Application Fundamentals</a></h5>
<h5><a href="#front-end" title="Essentials of Front End Development">Essentials of Front End Development</a></h5>
<h5><a href="#full-stack" title="Full Stack MVC Web Development">Full Stack MVC Web Development</a></h5>
<h5><a href="#java" title="Java Application Development">Java Application Development</a></h5>
<h5><a href="#professionalism-growth" title="Professionalism and Personal Growth">Professionalism and Personal Growth</a></h5>

<hr />

<h4 id="fundamentals">Language Basics and Application Fundamentals</h4>

<p><u>Part I: Language Basics and Application Fundamentals</u></p>
<p>Language: Python</p>
<p>
    Resource:<br /> Gries, Paul, Campbell, Jennifer, Montojo, Jason (2013)
    <em>Practical Programming: An Introduction to Computer Science Using Python 3</em> (2nd Edition).
    Dallas, TX: The Pragmatic Bookshelf.
</p>

<p>Modules:
    <ul>
        <li>Introduction to Programming</li>
        <li>Function Design</li>
        <li>Modular Program Organization</li>
        <li>Decision Making and Looping</li>
        <li>File Input/Output</li>
        <li>Basic Algorithm Analysis</li>
        <li>Data Collection Types</li>
    </ul>
</p>

<p><u>Part II:  Advanced Python Skills</u></p>
<p>Language: SQL</p>
<p>
    Resource:<br /> Gries, Paul, Campbell, Jennifer, Montojo, Jason (2013)
    <em>Practical Programming: An Introduction to Computer Science Using Python 3</em>
    (2nd Edition). Dallas, TX: The Pragmatic Bookshelf.
</p>

<p>Modules:
    <ul>
        <li>Object-Oriented Programming</li>
        <li>Graphical User Interfaces</li>
        <li>Higher-Order Functions</li>
    </ul>
</p>

<p>
    <u>Cumulative Project:</u><br />
    <strong>Language Basics and Application Fundamentals</strong>:
    Command line program managing inventory and revenue for a fictional rental agency (Python).
</p>

<hr />

<h4 id="front-end">Essentials of Front End Development</h4>

<p><u>Part III: Essentials of Front End Development</u></p>
<p>Languages: HTML/CSS/JS/jQuery</p>
<p>Resources:
    <br />Duckett, Jon (2011). <em>HTML &amp; CSS: Design and Build Websites</em>.
    Indianapolis, IN: John Wiley &amp; Sons, Inc.
    <br />Duckett, Jon (2014). <em>JavaScript and jQuery: Interactive Front-End Web Development</em>. Indianapolis, IN:
    John Wiley &amp; Sons, Inc.
</p>

<p>Modules:
    <ul>
        <li>Web Page Construction and Structure</li>
        <li>HTML Elements</li>
        <li>CSS Formatting</li>
        <li>Front End Process and Design</li>
        <li>Basics of Programming in JavaScript</li>
        <li>Document Object Model (DOM) and Events</li>
        <li>Asynchronous Web Development, Ajax and JSON</li>
        <li>Accessing Application Programming Interfaces (APIs)</li>
    </ul>
</p>

<p>
    <u>Cumulative Project:</u><br />
    <strong>Front End Fundamentals</strong>:
    Dynamic web page storefront for a fictional company (HTML/CSS/JavaScript).
</p>

<hr />

<h4 id="full-stack">Full Stack MVC Web Development</h4>

<p><u>Part IV: Full Stack MVC Web Development</u></p>
<p>Framework: Django</p>
<p>
    Resources:<br />
    <em>Django Documentation</em>. Django Software Foundation, 2017,
    <a href="http://docs.djangoproject.com/en/1.10/" title="Django" target="_blank">http://docs.djangoproject.com/en/1.10/</a>.
    Accessed 01 Feb. 2017.
</p>

<p>Modules:
    <ul>
        <li>Basics of Django and the Model Template View</li>
        <li>Planning and Constructing Models</li>
        <li>Mapping Data Structures</li>
        <li>Site Administration</li>
        <li>URL Routing</li>
        <li>Creating Generic and Custom Views</li>
        <li>Displaying Data with Templates</li>
        <li>Building Forms</li>
    </ul>
</p>

<p>
    <u>Cumulative Project:</u><br />
    <strong>Full Stack MVC Fundamentals</strong>:
    Full Stack web application managing a database of inventory for a fictional rental agency (Django).
</p>

<h4 id="java">Java Application Development</h4>

<p><u>Part V: Foundations in Java</u></p>
<p>Language: Java</p>
<p>Modules:
    <ul>
        <li>Primitive Data Types</li>
        <li>Operators and Expressions</li>
        <li>Control Structures</li>
        <li>Object-Oriented Programming and Classes</li>
        <li>Collections</li>
        <li>Inheritance</li>
        <li>Exceptions</li>
        <li>Interfaces</li>
    </ul>
</p>

<p><u>Part VI: Spring Web Application Development</u></p>
<p>Framework: Spring</p>

<p>Modules:
    <ul>
        <li>Creating and Building Projects with Spring Boot</li>
        <li>Creating Controllers in Spring MVC</li>
        <li>Designing Views in Mustache</li>
        <li>Processing and Validating Form Input</li>
        <li>Database Mangement with JDBC</li>
        <li>Securing Applications with Spring Security</li>
    </ul>
</p>

<p>
    <u>Cumulative Project:</u><br />
    <strong>Spring Web Application Development</strong>:
    Operational full stack web application for customers of a fictional service provider (Java/Spring/SQL)
</p>

<hr />

<h4 id="professionalism-growth">Professionalism and Personal Growth</h4>

<p><u>Employment Preparation</u></p>
<p>Following successful completion of the their final projects,
    some students may have the opportunity to job-shadow in a technical workplace.
    Additionally, the students will engage in tailored coursework to prepare for desired positions.</p>

<p><u>Additional Coursework and Topics</u></p>
<p>
    Coursework: Individual and Group Projects, Online Courses (as determined by the teachers)<br />
    Modules: Command Line, Version Control (Git), Unit Testing, Selenium Testing<br />
    Workplace: Resume Building, Writing Reports, Public Speaking, Personal Branding<br />
</p>

<p><u>Student Portfolios</u></p>
<p>Student work samples can be found on the website:
    <a href="https://basecampcodingacademy.org/student-portfolios" title="Student Portfolios" target="_blank">
    https://basecampcodingacademy.org/student-portfolios</a></p>
