@{ ViewData["Title"] = "Curriculum details"; }


<h1>Curriculum Details</h1>
<hr />
<h4>
    <u>Cumulative Projects</u>
</h4>
<p><strong>Application Fundamentals:</strong> Command line program that manages inventory and revenue for a fictional rental
    agency (Python).</p>
<p><strong>Front End Fundamentals:</strong> Dynamic web page storefront for a fictional rental company (HTML/CSS/JavaScript).</p>
<p><strong>Full Stack MVC Fundamentals:</strong> Functional web application that manages a database of inventory for a fictional
    rental agency (Django).
</p>
<hr />
<h4>
    <u>Part I: Application Fundamentals</u>
</h4>
<p>Language: Python</p>
<p>Resource:<br /> Gries, Paul, Campbell, Jennifer, Montojo, Jason (2013) <em>Practical Programming: An Introduction to Computer
Scienc e Using Python 3</em> (2nd Edition). Dallas, TX: The Pragmatic Bookshelf.</p>
<p>Modules:
    <ul>
        <li>Introduction to Programming</li>
        <li>Function Design</li>
        <li>Modular Program Organization</li>
        <li>Decision Making and Looping</li>
        <li>File Input/Output</li>
        <li>Data Collection Types</li>
        <li>Object-Oriented Programming</li>
        <li>Graphical User Interfaces</li>
        <li>Databases</li>
    </ul>
</p>
<h4>
    <u>Part II: Front End Fundamentals</u>
</h4>
<p>Languages: HTML/CSS/JS/JQuery</p>
<p>Resources:<br />Duckett, Jon (2011). <em>HTML &amp; CSS: Design and Build Websites</em>. Indianapolis, IN: John Wiley &amp;
    Sons, Inc.
    <br /> Duckett, Jon (2014). <em>JavaScript and jQuery: Interactive Front-End Web Development</em>. Indianapolis, IN:
    John Wiley &amp; Sons, Inc.</p>
<p>Modules:
    <ul>
        <li>Web Page Construction and Structure</li>
        <li>HTML Elements</li>
        <li>CSS Formatting</li>
        <li>Front End Process and Design</li>
        <li>Basics of Programming in JavaScript</li>
        <li>Document Object Model (DOM) and Events</li>
        <li>Implementing jQuery</li>
        <li>Ajax and JSON</li>
        <li>APIs</li>
    </ul>
</p>
<h4>
    <u>Part III: Full Stack MVC Fundamentals</u>
</h4>
<p>Framework: Django</p>
<p>Resource:<br />
    <em>Django Documentation</em>. Django Software Foundation, 2017, www.docs.djangoproject.com/en/1.10/. Accessed 01 Feb.
    2017.
</p>
<p>Modules:
    <ul>
        <li>Requests and Responses</li>
        <li>Modules and the Admin Site</li>
        <li>Views and Templates</li>
        <li>Forms and Generic Views</li>
        <li>Testing</li>
        <li>Static Files</li>
        <li>Customizing the Admin Site</li>
    </ul>
</p>
<hr />
<h4>
    <u>Employment Preparation</u>
</h4>
<p>Following successful completion of the their final projects, some students may have the opportunity to job-shadow in a technical
    workplace. Additionally, the students will engage in tailored coursework to prepare for desired positions. This may include,
    but is not limited to, courses in the C#/Asp.NET or Java.</p>
<hr />
<h4>
    <u>Additional Coursework</u>
</h4>
<p>Resource:<br />
    <em>Codecademy Catalog</em>. Codecademy. 2017, www.codecademy.com/. Accessed 01 Feb 2017.</p>
<p>Modules:
    <ul>
        <li>Python</li>
        <li>Learn the Command Line</li>
        <li>Learn Git</li>
        <li>HTML &amp; CSS</li>
        <li>JavaScript</li>
        <li>Learn jQuery</li>
    </ul>
</p>
<h4>
    <u>Additional Topics</u>
</h4>
<p>Modules: Version Control (Git), Unit Testing, API Documentation</p>
<p>Workplace: Resume Building, Public Speaking, Personal Branding</p>