@{ ViewData["Title"] = "Curriculum details"; }

<h1>Curriculum Details</h1>

<nav>
    <ol>
        <li><a href="#fundamentals" title="Language Basics and Application Fundamentals">Language Basics and Application Fundamentals</a></li>
        <li><a href="#front-end" title="Essentials of Front End Development">Essentials of Front End Development</a></li>
        <li><a href="#full-stack" title="Full Stack MVC Web Development">Full Stack MVC Web Development</a></li>
        <li><a href="#java" title="Java Application Development">Java Application Development</a></li>
        <li><a href="#professionalism-growth" title="Professionalism and Personal Growth">Professionalism and Personal Growth</a></li>
    </ol>
</nav>

<hr />

<article id="fundamentals">
    <h2>Language Basics and Application Fundamentals</h2>

    <article>
        <h3>Part I: Language Basics and Application Fundamentals</h3>
        <dl>
            <dt>Languages</dt>
            <dd>
                <ul>
                    <li>Python</li>
                </ul>
            </dd>
            <dt>Resources</dt>
            <dd>
                <ul>
                    <li>
                        Gries, Paul, Campbell, Jennifer, Montojo, Jason (2013)
                        <em>Practical Programming: An Introduction to Computer Science Using Python 3 (2nd Edition)</em>.
                        Dallas, TX: The Pragmatic Bookshelf.
                    </li>
                    <li>
                        <a href="https://codingbat.com/python" rel="nofollow">Coding Bat</a>
                    </li>
                </ul>
            </dd>
            <dt>Modules</dt>
            <dd>
                <ul>
                    <li>Introduction to Programming</li>
                    <li>Function Design</li>
                    <li>Modular Program Organization</li>
                    <li>Decision Making and Looping</li>
                    <li>File Input/Output</li>
                    <li>Data Collection Types</li>
                </ul>
            </dd>
            <dt>Benchmarks</dt>
            <dd>
                <ul>
                    <li>Language Skills: codingbat.com Problem Progress</li>
                    <li>Technical Communication: Mock Programming Interview</li>
                    <li>
                        Application Development: Client and Admin Command Line Applications
                        Sharing JSON File Storage
                    </li>
                </ul>
            </dd>
        </dl>
    </article>
    <article>
        <h3>Part II: Advanced Python Skills</h3>
        <dl>
            <dt>Languages</dt>
            <dd>
                <ul>
                    <li>Python</li>
                </ul>
            </dd>
            <dt>Resources</dt>
            <dd>
                <ul>
                    <li>
                        Gries, Paul, Campbell, Jennifer, Montojo, Jason (2013)
                        <em>Practical Programming: An Introduction to Computer Science
                            Using Python 3 (2nd Edition)</em>.
                        Dallas, TX: The Pragmatic Bookshelf.
                    </li>
                </ul>
            </dd>
            <dt>Modules</dt>
            <dd>
                <ul>
                    <li>Object-Oriented Programming</li>
                </ul>
            </dd>
            <dt>Cumulative Project</dt>
            <dd>
                Command line program managing inventory and revenue for a fictional rental agency.
            </dd>
        </dl>
    </article>
</article>
<article id="front-end">
    <h2>Essentials of Static Front End Development</h2>

    <article>
        <h3>Part III: Essentials of Static Front End Development</h3>

        <dl>
            <dt>Languages</dt>
            <dd>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </dd>
            <dt>Resources</dt>
            <dd>
                <ul>
                    <li>
                        <a href="https://freecodecamp.org" rel="nofollow">FreeCodeCamp</a>
                    </li>
                    <li>
                        <a href="https://codepen.io" rel="nofollow">CodePen</a>
                    </li>
                    <li>
                        <a href="https://developer.mozilla.org" rel="nofollow">Mozilla Developer Network</a>
                    </li>
                    <li>
                        <a href="https://html5up.com" rel="nofollow">html5up</a>
                    </li>
                </ul>
            </dd>
            <dt>Modules</dt>
            <dd>
                <ul>
                    <li>Web Page Construction and Structure</li>
                    <li>HTML Elements</li>
                    <li>Box Model</li>
                    <li>Layout vs Components</li>
                    <li>CSS Formatting</li>
                    <li>CSS Flexbox</li>
                    <li>Front End Process and Design</li>
                    <li>Hosting on Github Pages</li>
                </ul>
            </dd>
            <dt>Cumulative Project</dt>
            <dd>
                Static Front End Fundamentals: Static, brochure, multi-page, web
                site for a fictional company from scratch.
            </dd>
        </dl>
    </article>

    <article>
        <h3>Part IV: Server Rendered Frontend Development</h3>

        <dl>
            <dt>Languages</dt>
            <dd>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Django Template Language</li>
                </ul>
            </dd>
            <dt>Resources</dt>
            <dd>
                <ul>
                    <li>
                        <a href="https://developer.mozilla.org" rel="nofollow">Mozilla Developer Network</a>
                    </li>
                    <li>
                        Django Documentation. Django Software Foundation, 2017,
                        <a href="http://www.docs.djangoproject.com/en/1.10/" rel="nofollow">
                            www.docs.djangoproject.com/en/1.10/</a>. Accessed 01 Feb. 2017.
                    </li>
                </ul>
            </dd>
            <dt>Modules</dt>
            <dd>
                <ul>
                    <li>Converting Static HTML into a Template</li>
                    <li>Extracting Partials from a Template</li>
                    <li>Submitting Forms</li>
                    <li>JavaScript Fundamentals</li>
                    <li>DOM manipulation</li>
                    <li>Event Handling</li>
                    <li>Fetching Data From an API Endpoint</li>
                </ul>
            </dd>
            <dt>Cumulative Project</dt>
            <dd>
                Build frontend for provided starter django project.
            </dd>
        </dl>
    </article>
</article>

<article id="full-stack">
    <h2>Full Stack MVC Web Development</h2>

    <article>
        <h3>Part V: Backend MVC Web Development</h3>

        <dl>
            <dt>Framework</dt>
            <dd>Django</dd>
            <dt>Resources</dt>
                <ul>
                    <li>
                        Django Documentation. Django Software Foundation, 2017,
                        <a href="http://www.docs.djangoproject.com/en/1.10/" rel="nofollow">
                            www.docs.djangoproject.com/en/1.10/</a>. Accessed 01 Feb. 2017.
                    </li>
                </ul>
            </dt>
            <dt>Modules</dt>
            <dd>
                <ul>
                    <li>Fundamentals of HTTP</li>
                    <li>URL Routing</li>
                    <li>Handling Requests with Django Views</li>
                    <li>Processing Forms with Django Forms</li>
                    <li>Planning and Constructing Models</li>
                </ul>
            </dd>
            <dt>Cumulative Project</dt>
            <dd>
                Build backend for provided starter django project.
            </dd>
        </dl>
    </article>

    <article>
        <h3>Part VI: Full Stack MVC Development</h3>

        <dl>
            <dt>Framework</dt>
            <dd>Django</dd>
            <dt>Resources</dt>
            <dd>
                <ul>
                    <li>
                        Django Documentation. Django Software Foundation, 2017,
                        <a href="http://www.docs.djangoproject.com/en/1.10/" rel="nofollow">
                            www.docs.djangoproject.com/en/1.10/</a>. Accessed 01 Feb. 2017.
                    </li>
                </ul>
            </dd>
            <dt>Modules</p>
            <dd>
                <ul>
                    <li>Fundamentals of Cookie-Based Authentication and Authorization</li>
                    <li>Basics of End-To-End Testing</li>
                </ul>
            </dd>
            <dt>Cumulative Project</dt>
            <dd>
                Build a CRUD app with at least 2 non-User resources,
                appropriate authentication and authorization,
                and at least 80% test coverage.
            </dd>
        </dl>
    </article>
</article>

<article id="java">
    <h2>Java Application Development</h2>

    <article>
        <h3>Part VII: Foundations in Java</h3>

        <dl>
            <dt>Language</dt>
            <dd>Java</dd>
            <dt>Resources</dt>
            <dd>
                <ul>
                    <li>Head First Java</li>
                    <li>
                        <a href="https://codingbat.com/java" rel="nofollow">CodingBat</a>
                    </li>
                    <li><a href="https://codewars.com" rel="nofollow">CodeWars</a></li>
                </ul>
            </dd>
            <dt>Modules</dt>
            <dd>
                <ul>
                    <li>Primitive Data Types</li>
                    <li>Operators and Expressions</li>
                    <li>Control Structures</li>
                    <li>Object-Oriented Programming and Classes</li>
                    <li>Collections</li>
                    <li>Inheritance</li>
                    <li>Exceptions</li>
                    <li>Interfaces</li>
                </ul>
            </dd>
            <dt>Benchmarks</dt>
            <dd>
                <ul>
                    <li>Language Skills: CodingBat and CodeWars completion</li>
                    <li>Technical Interview: Coding Challenge Interview</li>
                </ul>
            </dd>
        </dl>
    </article>

    <article>
        <h3>Part VIII: Spring Web Application Development</h3>

        <dl>
            <dt>Languages</dt>
            <dd>
                <ul>
                    <li>Java</li>
                    <li>SQL</li>
                </ul>
            </dd>
            <dt>Modules</dt>
            <dd>
                <ul>
                    <li>Creating and building projects with Spring Boot</li>
                    <li>Creating Rest Controllers in Spring MVC</li>
                    <li>Validating Request JSON</li>
                    <li>SQL Fundamentals</li>
                    <li>Database Management with JDBC</li>
                    <li>Securing Applications with Spring Security</li>
                </ul>
            </dd>
            <dt>Cumulative Project</dt>
            <dd>Build a REST API using Java/Spring for a provided frontend.</dd>
        </dl>
    </article>
</article>

<article id="professionalism-growth">
    <h2>Professionalism and Personal Growth</h2>

    <article>
        <h3>Employment Preparation</h3>

        <p>
            Following successful completion of the their final projects, some students
            may have the opportunity to job-shadow in a technical workplace.
            Additionally, the students will engage in tailored coursework to prepare for
            desired positions.
        </p>
    </article>

    <article>
        <h3>Additional Coursework and Topics</h3>

        <dl>
            <dt>Coursework</dt>
            <dd>
                <ul>
                    <li>Individual and Group Projects</li>
                    <li>Online Courses (as determined by the teachers)</li>
                </ul>
            </dd>
            <dt>Modules</dt>
            <dd>
                <ul>
                    <li>Command Line</li>
                    <li>Version Control (Git)</li>
                    <li>Unit Testing</li>
                    <li>Selenium Testing</li>
                </ul>
            </dd>
            <dt>Workplace</dt>
            <dd>
                <ul>
                    <li>Resume Building</li>
                    <li>Writing Reports</li>
                    <li>Public Speaking</li>
                    <li>Personal Branding</li>
                </ul>
            </dd>
        </dl>
    </article>

    <article>
        <h3>Student Portfolios</h3>

        <p>
            Student work samples can be found on the website:
            <a href="http://www.basecampcodingacademy.org/student-portfolios"
               rel="nofollow">www.basecampcodingacademy.org/student-portfolios</a>
        </p>
    </article>
</article>
