@{ ViewData["Title"] = "Curriculum"; }


<h1>Curriculum</h1>
<h3>How we prepare our students to deliver business value on day 1</h3>

<div class="row">
    <div class="col-md-5 center-block">
        <img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" class="img-responsive img-rounded"
            alt="python">
    </div>
    <div class="col-md-7">
        <h1>
            Fundamentals <br />
            <small>
                    Every developer needs a solid foundation.
                    Our students learn how to turn problems into solutions as they learn the Python programming language.
                </small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-push-7">
        <img src="https://www.planet-source-code.com/vb/2010Redesign/images/LangugeHomePages/HTML5_CSS_JavaScript.png" class="img-responsive img-rounded pull-right"
            alt="html, css, and javascript">
    </div>
    <div class="col-md-7 col-md-pull-5">
        <h1>
            Front End <br />
            <small>
                    The web is everywhere, and so are our students.
                    They bring their newfound skills to the browser as they learn HTML, CSS, and JavaScript.
                </small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <img src="https://www.fullstackpython.com/img/django-logo-positive.png" class="img-responsive img-rounded" alt="django">
    </div>
    <div class="col-md-7">
        <h1>
            Back End <br />
            <small>
                    Roses are Red. Violets are Blue. <br />
                    We MVC. And so do you. <br />
                </small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-push-7">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAUaAAAAJDZjMGUxNTU2LTdlOTUtNDFmOS04YjJmLTY3MTk3YjM2YjkxMA.jpg"
            class="img-responsive img-rounded pull-right" alt="pre-onboarding">
    </div>
    <div class="col-md-7 col-md-pull-5">
        <h1>
            What <em> You </em> Want <br />
            <small>
                    Call it free onboarding. We work with employers to make sure Base Camp graduates are prepared for their workplace.
                </small>
        </h1>
    </div>
</div>