@{ ViewData["Title"] = "Curriculum"; }


<h1>Curriculum</h1>
<p>The curriculum at Base Camp Coding Academy is anything but static. For our graduates to be competitive in the marketplace,
    we expect them to be proficient in the latest tools, and ready to learn whatever comes next. Our committee of industry
    leaders meets quarterly to review the latest advancements in this space, and make adjustments to the curriculum as necessary.
    Details of the curriculum can be found @Html.ActionLink("here", "CurriculumDetails", "Home", null, new {title="Curriculum Details"}).</p>

<h3>How we prepare our students to deliver business value on day 1</h3>

<div class="row">
    <div class="col-md-5 center-block">
        <img src="/images/python-logo.png" class="img-responsive img-rounded"
            alt="python">
    </div>
    <div class="col-md-7">
        <h2>
            Fundamentals <br />
            <small>
                    Every developer needs a solid foundation.
                    Our students learn how to turn problems into solutions as they learn the Python programming language.
                </small>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-push-7">
        <img src="/images/html-css-js.png" class="img-responsive img-rounded pull-right"
            alt="html, css, and javascript">
    </div>
    <div class="col-md-7 col-md-pull-5">
        <h2>
            Front End <br />
            <small>
                    The web is everywhere, and so are our students.
                    They bring their newfound skills to the browser as they learn HTML, CSS, and JavaScript.
                </small>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <img src="/images/django.png" class="img-responsive img-rounded" alt="django">
    </div>
    <div class="col-md-7">
        <h2>
            Back End <br />
            <small>
                    Roses are Red. Violets are Blue. <br />
                    We MVC. And so do you. <br />
                </small>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-push-7">
    </div>
    <div class="col-md-7 col-md-pull-5">
        <h2>
            What <em> You </em> Want <br />
            <small>
                    Call it free onboarding. We work with employers to make sure Base Camp graduates are prepared for their workplace.
                </small>
        </h2>
    </div>
</div>