@{ ViewData["Title"] = "News & Press"; }

<div class="row">
    <div class="col-lg-12">
        <h1>Newsletters</h1>
        <p>
            <a title="Newsletter Issue #1" href="~/newsletters/bcca-newsletter-001-2016-01-15.pdf" target="_blank">Newsletter Issue #1</a>
            <br />
            <a title="Newsletter Issue #2" href="~/newsletters/bcca-newsletter-002-2016-02-19.docx" target="_blank">Newsletter Issue #2</a>
            <br />
            <a title="Newsletter Issue #3" href="~/newsletters/bcca-newsletter-003-2016-03-21.pdf" target="_blank">Newsletter Issue #3</a>
            <br />
            <a title="Newsletter Issue #4" href="~/newsletters/bcca-newsletter-004-2016-04-22.pdf" target="_blank">Newsletter Issue #4</a>
            <br />
            <a title="Newsletter Issue #5" href="~/newsletters/bcca-newsletter-005-2016-05-12.pdf" target="_blank">Newsletter Issue #5</a>
            <br />
            <a title="Newsletter Issue #6" href="~/newsletters/bcca-newsletter-006-2016-06-20.pdf" target="_blank">Newsletter Issue #6</a>
            <br />
            <a title="Newsletter Issue #7" href="~/newsletters/bcca-newsletter-007-2016-07-27.pdf" target="_blank">Newsletter Issue #7</a>
            <br />
            <a title="Newsletter Issue #8" href="~/newsletters/bcca-newsletter-008-2016-09-01.pdf" target="_blank">Newsletter Issue #8</a>
            <br />
            <a title="Newsletter Issue #9" href="~/newsletters/bcca-newsletter-009-2016-11-15.pdf" target="_blank">Newsletter Issue #9</a>
            <br />
            <a title="Newsletter Issue #10" href="~/newsletters/bcca-newsletter-010-2017-01-26.pdf" target="_blank">Newsletter Issue #10</a>
            <br />
            <a title="Newsletter Issue #11" href="~/newsletters/bcca-newsletter-011-2017-03-01.pdf" target="_blank">Newsletter Issue #11</a>
            <br />
            <a title="Newsletter Issue #12" href="~/newsletters/bcca-newsletter-012-2017-04-17.pdf" target="_blank">Newsletter Issue #12</a>
            <br />
            <a title="Newsletter Issue #13" href="~/newsletters/bcca-newsletter-013-2017-06-06.pdf" target="_blank">Newsletter Issue #13</a>
            <br />
            <a title="Newsletter Issue #14" href="~/newsletters/bcca-newsletter-014-2017-07-14.pdf" target="_blank">Newsletter Issue #14</a>
            <br />
            <a title="Newsletter Issue #15" href="~/newsletters/bcca-newsletter-015-2017-08-24.pdf" target="_blank">Newsletter Issue #15</a>
            <br />
            <a title="Newsletter Issue #16" href="~/newsletters/bcca-newsletter-016-2017-11-02.pdf" target="_blank">Newsletter Issue #16</a>
        </p>
        <h1>Press</h1>
        <p>
            <a href="https://virgecornelius.com/2016/07/28/base-camp-coding-academy/" target="_blank">A good base in algebra is key to success in coding</a>
            <br />
            <a href="http://msbusiness.com/2016/03/hu-meena-three-rs-c-teaching-computer-code-critical-thinking-skills-essential-21st-century/"
                target="_blank">The Three Rs + C: Teaching computer code and critical thinking skills&#8230;</a>
            <br />
            <a href="http://finance.yahoo.com/news/camp-coding-academy-fills-key-161600521.html" target="_blank">Base Camp Adds Key Leadership</a>
            <br />
            <a href="http://www.prnewswire.com/news-releases/c-spire-local-non-profit-crack-the-code-to-train-next-generation-of-software-developers-300199289.html"
                target="_blank">C Spire, local non-profit crack the code to train next generation&#8230;</a>
            <br />
            <a href="https://www.youtube.com/watch?v=FIw7aIZEKjw" target="_blank">Kagan Coughlin talks Water Valley and Base Camp Coding Academy</a>
            <br />
            <a href="http://hottytoddy.com/2016/01/28/a-water-valley-main-street-revival-evolves-into-boom-town/" target="_blank">A Water Valley Main Street Revival Evolves Into Boom Town</a>
            <br />
            <a href="http://mississippitoday.org/2017/03/10/high-school-grads-code-their-way-to-tech-jobs/" target="_blank">High school grads code their way to tech jobs</a>
        </p>
    </div>
</div>