@{ ViewData["Title"] = "Nondiscriminatory Policy"; }

<div class="row">
    <div class="col-lg-12">
        <h1>Notice of Nondiscriminatory Policy as to Students</h1>
        <h4>Base Camp Coding Academy</h4>
        <p>
            Base Camp Coding Academy is committed to the principle of equal opportunity in education and employment, and BCCA does not
            discriminate in the administration of its education and admissions policies, scholarship and loan programs, or
            other school-administered programs. BCCA prohibits discrimination, harassment, and bullying against any person
            for any reason; this includes race, color, sex, sexual or affectional orientation, gender identity or expression,
            religion, marital status, parenthood, disability, age, genetic information, appearance, matriculation, political
            affiliation, veteran status, ancestry, or national or ethnic origin.
        </p>
    </div>
</div>