@{ ViewData["Title"] = "Sponsors"; }



<div class="row">
    <div class="col-lg-12">
        <h1></h1>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            Founding Sponsors </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-5">
                                <a href="http://www.cspire.com/company_info/about/programs/foundation.jsp" target="_blank" title="C Spire">
                                    <img src="~/images/sponsors/cspire-logo.png" alt="C Spire" width="300" height="117" />
                                </a>
                            </div>
                            <div class="col-xs-7">
                                <h3>C Spire Foundation</h3>
                                The C Spire Foundation is a private foundation funded by C Spire. C Spire shareholders and employees always make community
                                service a top priority. In all our community efforts, our goal is to improve the quality
                                of life in the communities we serve. We do this by targeting areas such as academic, athletic,
                                health, wellness, safety, civic and scholarship programs that improve lives and help communities
                                thrive. Our primary community focus is on improving opportunities for education in Mississippi.
                                <a href="http://www.cspire.com/company_info/about/programs/foundation.jsp" target="_blank" title="C Spire">cspire.com/foundation</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <a href="https://www.fncinc.com" target="_blank" title="FNC Inc.">
                                    <img src="~/images/sponsors/fnc-logo.png" alt="FNC Inc." />
                                </a>&nbsp;
                                <a href="https://www.corelogic.com" target="_blank" title="CoreLogic">
                                    <img src="~/images/sponsors/clgx-logo.png" alt="CoreLogic" />
                                </a>
                            </div>
                            <div class="col-xs-7">
                                <h3>FNC/CoreLogic</h3>
                                Software technology company FNC Inc. builds systems that give mortgage lenders and servicers access to the most current residential
                                real estate information available. For more than 15 years, FNC has turned paper into data
                                and data into knowledge, producing superior workflow and analytic tools to enable our clients
                                to tap into a property’s details and value at every stage of the loan cycle. Armed with the
                                power of data, FNC clients can make the most accurate valuation decisions. FNC is a wholly
                                owned subsidiary of Irvine, CA based CoreLogic (NYSE:CLGX). Powering the global real estate
                                economy with property-level insights, CoreLogic provides information intelligence to identify
                                and manage growth opportunities, improve business performance and manage risk. Whether in
                                real estate, mortgage finance, insurance, or the public sector, our clients turn to us as
                                a market leader for unique property-level data.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5"></div>
                            <div class="col-xs-7">
                                <h3>Diane and Dickie Scruggs</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5"></div>
                            <div class="col-xs-7">
                                <h3>Paige and Glen Evans</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5"></div>
                            <div class="col-xs-7">
                                <h3>Jan and Lawrence Farrington</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5"></div>
                            <div class="col-xs-7">
                                <h3>The John N. Palmer Foundation</h3>
                                John N. Palmer Sr., a technology entrepreneur and philanthropist from Jackson, served as the U.S. ambassador to Portugal
                                from 2001 to 2004. He is the founder of GulfSouth Capital Inc. and serves as its chairman
                                and previously served as chairman and CEO of SkyTel and MCCA.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <a href="https://www.renasantbank.com/" target="_blank" title="Renesant Bank">
                                    <img src="~/images/sponsors/renasant-logo.jpg" alt="Renasant Bank" />
                                </a>
                            </div>
                            <div class="col-xs-7">
                                <h3>Renasant Bank</h3>
                                Since 1904, Renasant Bank has invested in Mississippi’s future. Starting in a small bakery in Lee County in 1904, and growing
                                into a multi-state financial institution with more than 175 branches, Renasant knows first
                                hand what Mississippians can accomplished with hard work and a long-term vision.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Founding Partners</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-5">
                                <a href="http://www.northwestms.edu/" target="_blank" title="Northwest">
                                    <img src="~/images/sponsors/northwest-logo.jpg" alt="Northwest" />
                                </a>
                            </div>
                            <div class="col-xs-7">
                                <h3>Northwest Mississippi Community College</h3>
                                For almost 90 years Northwest has been fulfilling its mission to bring affordable, quality educational opportunities to every
                                citizen in their 11-county district. This mission is broad not only in terms of the number
                                of students Northwest serves and the large geographic area that these students cover, but
                                also in the many diverse skills that the modern work environment requires.
                                <br />
                                <br />Northwest offers educational opportunities in the form of local GED classes throughout
                                its 11 counties, multi-year degreed programs, as well as workforce training programs that
                                are coordinated to support the needs of over 90 regional employers.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            Community Sponsors</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Leigh Anne and Sean Tuohy with the MIH Foundation</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Trustmark Bank</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Brainshark</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Aol.</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>LuLu's Shoes &amp; Accessories</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>