@{ ViewData["Title"] = "Student Portfolios"; }

<div class="row">
    <div class="col-lg-12">
        <h1>Class of 2017</h1>
        <p>
            <a href="https://adamtutor.github.io/" target="_blank">Adam Tutor</a><br />
            <a href="https://addey-portfolio.herokuapp.com/static/index.html" target="_blank">Addey Welch</a><br />
            <a href="https://dustinbuice18.github.io/" target="_blank">Dustin Buice</a><br />
            <a href="https://sandiegofan98.github.io/" target="_blank">Eddrick Butler</a><br />
            <a href="https://jacobspence97.github.io/onlineR/" target="_blank">Jacob Spence</a><br />
            <a href="https://jameshakim.github.io/" target="_blank">James Hakim</a><br />
            <a href="https://jsbcca.github.io/my_portfolio/" target="_blank">James Sibert</a><br />
            <a href="https://keeganf.github.io/" target="_blank">Keegan Faustin</a><br />
            <a href="https://martin11guzman.github.io/Resume/" target="_blank">Martin Guzman</a><br />
            <a href="https://milttreonna.github.io/my-resume/" target="_blank">Milttreonna Owens</a><br />
            <a href="https://nicoleshelton.github.io/" target="_blank">Nicole Shelton</a><br />
            <a href="https://rkeisling.github.io/portfolio/" target="_blank">Ricky Keisling</a>
        </p>
    </div>
</div>
