@{ ViewData["Title"] = "Student Portfolios"; }



<div class="row">
    <div class="col-lg-12">
        <h1></h1>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                            aria-controls="collapseOne">
                            Class of 2018</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    Alexandra Fortner<br />
                                    Angel Zapata<br />
                                    Britney Wilbourn<br />
                                    Edgar Guzman<br />
                                    Jo'Tavious Smith<br />
                                    Jose Vargas<br />
                                    Lizeth Buenrostro<br />
                                    Maegan Avant<br />
                                    Osvaldo Quinonez<br />
                                    Sara Hester<br />
                                    Shay Shuffield<br />
                                    Shedlia Freeman<br />
                                    Timothy Corner<br />
                                    Trey Shelton<br />
                                    Valente Alvarez
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">
                            Class of 2017</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    <a href="https://adamtutor.github.io/" target="_blank">Adam Tutor</a><br />
                                    <a href="https://addey-portfolio.herokuapp.com/static/index.html" target="_blank">Addey Welch</a><br />
                                    <a href="https://dustinbuice18.github.io/" target="_blank">Dustin Buice</a><br />
                                    <a href="https://sandiegofan98.github.io/" target="_blank">Eddrick Butler</a><br />
                                    <a href="https://jacobspence97.github.io/onlineR/" target="_blank">Jacob Spence</a><br />
                                    <a href="https://jameshakim.github.io/" target="_blank">James Hakim</a><br />
                                    <a href="https://jsbcca.github.io/my_portfolio/" target="_blank">James Sibert</a><br />
                                    <a href="https://keeganf.github.io/" target="_blank">Keegan Faustin</a><br />
                                    <a href="https://martin11guzman.github.io/Resume/" target="_blank">Martin Guzman</a><br />
                                    <a href="https://milttreonna.github.io/my-resume/" target="_blank">Milttreonna Owens</a><br />
                                    <a href="https://nicoleshelton.github.io/" target="_blank">Nicole Shelton</a><br />
                                    <a href="https://rkeisling.github.io/portfolio/" target="_blank">Ricky Keisling</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
