@{ ViewData["Title"] = "Student Portfolios"; }



<div class="row">
    <div class="col-lg-12">
        <h1></h1>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                            aria-controls="collapseFour">
                            Class of 2020</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    <a href="https://devinbooker616.github.io/" target="_blank">Devin Booker</a><br />
                                    <a href="https://patton-burge.github.io/" target="_blank">Patton Burge</a><br />
                                    <a href="https://gillianfloyd2001.github.io/" target="_blank">Gillian Floyd</a><br />
                                    <a href="https://jiddyy.github.io/" target="_blank">JD Gault</a><br />
                                    <a href="https://christian-guzman.github.io/" target="_blank">Christian Guzman</a><br />
                                    <a href="https://oscar18guzman.github.io/" target="_blank">Oscar Guzman</a><br />
                                    <a href="https://tyler-irving.github.io/" target="_blank">Tyler Irving</a><br />
                                    <a href="https://destinymalone.github.io/" target="_blank">Destiny Malone</a><br />                                    
                                    <a href="https://dylanmelton.github.io/" target="_blank">Dylan Melton</a><br />                                   
                                    <a href="https://dakota-c-rgb.github.io/" target="_blank">Dakota Nichols</a><br />
                                    <a href="https://t-rowlett.github.io/" target="_blank">Tyler-Rex Rowlett</a><br />
                                    <a href="https://derekstegall.github.io/" target="_blank">Derek Stegall</a><br />
                                    <a href="https://asoledadu.github.io/" target="_blank">Angie Unda</a><br />
                                    <a href="https://william-w.xyz/" target="_blank">William Warren</a><br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            Class of 2019</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    <a href="https://coleanderson7278.github.io/" target="_blank">Cole Anderson</a><br />
                                    <a href="https://timothyb9526.github.io/" target="_blank">Timothy Bowling</a><br />
                                    <a href="https://laharrell20xx.github.io/" target="_blank">Logan Harrell</a><br />
                                    <a href="https://ginggk.github.io/" target="_blank">Ginger Keys</a><br />
                                    <a href="https://matt2tech.github.io/" target="_blank">Matt Lipsey</a><br />
                                    <a href="https://myeishamadkins.github.io/" target="_blank">Myeisha Madkins</a><br />
                                    <a href="https://henrymoore13.github.io/" target="_blank">Henry Moore</a><br />
                                    <a href="https://johnmorgan2000.github.io/" target="_blank">John Morgan</a><br />
                                    <a href="https://dannyp123.github.io/" target="_blank">Danny Peterson</a><br />
                                    <a href="https://rayturner677.github.io/" target="_blank">Ray Turner</a><br />
                                    <a href="https://codyvanderpoel.github.io/" target="_blank">Cody van der Poel</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Class of 2018</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    <a href="https://alexandrafortner.github.io/" target="_blank">Alexandra Fortner</a><br />
                                    <a href="https://edgar1140.github.io/" target="_blank">Edgar Guzman</a><br />
                                    <a href="https://josmith18.github.io/" target="_blank">Jo'Tavious Smith</a><br />
                                    <a href="https://josevargas021498.github.io/" target="_blank">Jose Vargas</a><br />
                                    <a href="https://lbuenrostro.github.io/" target="_blank">Lizeth Buenrostro</a><br />
                                    <a href="https://oquinonez.github.io/" target="_blank">Osvaldo Quinonez</a><br />                                    
                                    <a href="https://sfreeman99.netlify.com/" target="_blank">Shedlia Freeman</a><br />
                                    <a href="https://treyshel.github.io/" target="_blank">Trey Shelton</a><br />
                                    <a href="https://valente98.github.io/" target="_blank">Valente Alvarez</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            Class of 2017</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    <a href="https://adamtutor.github.io/" target="_blank">Adam Tutor</a><br />
                                    <a href="https://addey-portfolio.herokuapp.com/static/index.html" target="_blank">Addey Welch</a><br />
                                    <a href="https://dustinbuice18.github.io/" target="_blank">Dustin Buice</a><br />
                                    <a href="https://sandiegofan98.github.io/" target="_blank">Eddrick Butler</a><br />
                                    <a href="https://jacobspence97.github.io/onlineR/" target="_blank">Jacob Spence</a><br />
                                    <a href="https://jameshakim.github.io/" target="_blank">James Hakim</a><br />
                                    <a href="https://jsbcca.github.io/my_portfolio/" target="_blank">James Sibert</a><br />
                                    <a href="https://keeganf.github.io/" target="_blank">Keegan Faustin</a><br />
                                    <a href="https://martin11guzman.github.io/Resume/" target="_blank">Martin Guzman</a><br />
                                    <a href="https://milttreonna.github.io/my-resume/" target="_blank">Milttreonna Owens</a><br />
                                    <a href="https://nicoleshelton.github.io/" target="_blank">Nicole Shelton</a><br />
                                    <a href="https://rkeisling.github.io/portfolio/" target="_blank">Ricky Keisling</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
